@{
    ViewData["Title"] = "About Nameless Store - Cars and Autoparts.";
}
<h2>@ViewData["Title"]</h2>

<p>This is a indie creation of a generical shop.</p>
<p>Any product advertised here is not for sale.</p>
<p>Any resemblance to real life is shit coincidence.</p>
<p>The site has third party content. I'm not responsible for the content.</p>
<p>Created at 13/01/2019 by Eduardo de Souza AKA Crisco. Rebuilt at 19/01/2019</p>
<img src="~/images/IMG-20180323-WA0000.svg" alt="ASP.NET" class="img-responsive" />
<p>image of the site owner above.</p>
