@{
    ViewData["Title"] = "Sport Admission Header 4/2x1";
}

<div class="row body-content">
    <div class="col-md-10">
        <h2>Sport Admission Header 4/2x1</h2>
        <img src="~/images/Foto-VIII.svg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>

<h2>Performance Kit Specs</h2>
<div class="row body-content">
    <div class="col-md-4">
        <h2>Engine Type:</h2>
        <h2>Material:</h2>
        <h2>Support for Wideband:</h2>
    </div>
    <div class="col-md-3">
        <h2>4 cylinder inline</h2>
        <h2>Stainless Steel</h2>
        <h2>Yes</h2>
    </div>
    <div class="col-md-4">
        <h1>Price:</h1>
    </div>
    <div class="col-md-4">
        <h2>$640</h2>
        <li><a class="btn btn-success" href="http://localhost:50157/Home/Thanks_For_purchase_Kit">Buy This Parts</a></li>
        <li><a class="btn btn-danger" href="http://localhost:50157/Home/Performance_Parts_Page">Back to Parts</a></li>
    </div>
</div>
