@{
    ViewData["Title"] = "Nameless Store Dealership - Brands";
}


<img src="~/images/Nameless_Store_Dealership.svg" alt="ASP.NET" class="img-responsive" />

<div class="row body-content">
    <div class="col-md-3">
        <h2>Germany</h2>
        <ul>
            <li>
                <a class="btn btn-success" href="http://localhost:50157/Home/Volkswagen_cars"><img src="~/images/volkswagen-passenger-cars-vector-logo-small.svg" alt="ASP.NET" class="img-responsive" /></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>United States</h2>
        <ul>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/General_Motors_cars"><img src="~/images/General-Motors-logo.svg" alt="ASP.NET" class="img-responsive" /></a></li>
        </ul>
    </div>
</div>

<h2>Back for main menu</h2>
<li><a class="btn btn-warning" href="http://localhost:50157/Home">Back to Nameless Store</a></li>