@{
    ViewData["Title"] = "Contact the Site Owner";
}
<h2>@ViewData["Title"]</h2>

<p>You can talk with me anytime in:</p>
<address>
    <strong>Gmail:</strong> <a href="mailto:eduardohsfreitas86@gmail.com">eduardohsfreitas86@gmail.com</a><br />
</address>
<img src="~/images/IMG-20180313-WA0002.svg" alt="Visual Studio" class="img-responsive" />
<p>image of the site owner above.</p>
