@{
    ViewData["Title"] = "Full Kit Turbo";
}

<div class="row body-content">
    <div class="col-md-10">
        <h2>Nameless Store - Performance Parts</h2>
        <img src="~/images/maxresdefault.svg" alt="ASP.NET" class="img-responsive" />
        <h2></h2>
        <h2></h2>
        <h2></h2>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <h2>Kit To C41GE 4 Cylinder Engine</h2>
        <a class="btn btn-success" href="http://localhost:62862/Home/Kit_Turbo_C41GE_4C"><img src="~/images/DSC04943.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Turbo Kit To EA-827/AP Engine (Carburetor)</h2>
        <a class="btn btn-success" href="http://localhost:62862/Home/Kit_Turbo_AP_carburetor"><img src="~/images/kit_turbo_vw_ap_carburado_pulsativo_no_farol_turbina_50_48_2468_1_20170712145715.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Kit To GM Familia II Engine</h2>
        <a class="btn btn-success" href="http://localhost:62862/Home/Kit_To_GM_Familia_II_Engine"><img src="~/images/kit-turbo-astrakadett-mpfi-c-medidor-massa-turbina-4248-D_NQ_NP_805615-MLB25268588505_012017-F.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Turbo Kit To EA-827/AP Engine + Intercooler</h2>
        <a class="btn btn-success" href="http://localhost:62862/Home/Kit_Turbo_AP_Intercooler"><img src="~/images/hqdefault.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Universal Turbo Kit To Fiat/GM</h2>
        <a class="btn btn-success" href="http://localhost:62862/Home/Turbo_Kit_Universal"><img src="~/images/hijbg.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Turbo Kit To EA-827/AP Engine</h2>
        <a class="btn btn-success" href="http://localhost:62862/Home/Kit_Turbo_AP_Injection"><img src="~/images/kit_turbo_ap_injetado_pulsativo_no_farol_turbina_50_63_2794_1_20170713104737.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Turbo Kit To JDM Engine</h2>
        <a class="btn btn-success" href="http://localhost:62862/Home/Turbo_Kit_JDM"><img src="~/images/s-l1000.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
</div>

<div class="row body-content">
    <div class="col-md-5">
        <h2>Back for Performance Parts</h2>
        <a class="btn btn-warning" href="http://localhost:62862/Home/Performance_Parts">Back to Performance Parts</a>
    </div>
</div>
</div>