@{
    ViewData["Title"] = "Volkswagen Jetta 2.0 TSI 2019";
}
<h2>@ViewData["Title"]</h2>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/287101010084771600x1060.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/Jetta_TSI_2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/Jetta_TSI_3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h2>Car Specs</h2>
<div class="row body-content">
    <div class="col-md-3">
        <h2>Engine:</h2>
        <h2>Engine Type:</h2>
        <h2>Transmission:</h2>
        <h2>Weight:</h2>
        <h2>Injection:</h2>
        <h2>Horsepower:</h2>
    </div>
    <div class="col-md-3">
        <h2>EA-888 2.0 Turbo</h2>
        <h2>4 cylinder inline</h2>
        <h2>MT 5 Gears - FWD</h2>
        <h2>1.376 kg</h2>
        <h2>Direct Injection</h2>
        <h2>211 HP</h2>
    </div>
    <div class="col-md-3">
        <h1>Price:</h1>
    </div>
    <div class="col-md-3">
        <h2>$65000</h2>
        <li><a class="btn btn-success" href="http://localhost:50157/Carts/Create">Buy This Car</a></li>
        <li><a class="btn btn-danger" href="http://localhost:50157/Home/Volkswagen_cars">Back to models</a></li>
    </div>
</div>