@{
    ViewData["Title"] = "Performance Parts";
}

<div class="row body-content">
    <div class="col-md-10">
        <h2>Performance Parts</h2>
    </div>
    <img src="~/images/Turbina.svg" alt="ASP.NET" class="img-responsive" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <h2>Whipple Mustang W140AX (2.3L) Supercharger</h2>
        <a class="btn btn-success" href="http://localhost:50157/Home/Supercharger_Page"><img src="~/images/thumbnail.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Sport Filter To Carburetor 2E/3E</h2>
        <a class="btn btn-success" href="http://localhost:50157/Home/Sport_Filtre_2E"><img src="~/images/filtro_de_ar_esportivo_carburador_2e_ou_3e_oval_respiro_de_oleo_race_chrome_352_1_20171026202042.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <h2>Sport Admission Header 4/2x1</h2>
        <a class="btn btn-success" href="http://localhost:50157/Home/Admission_Header"><img src="~/images/Foto-VIII.svg" alt="ASP.NET" class="img-responsive" /></a>
    </div>
</div>

<div class="row body-content">
    <div class="col-md-5">
        <h2>Back for Performance Parts</h2>
        <a class="btn btn-warning" href="http://localhost:50157/Home/Performance_Parts">Back to Performance Parts</a>
    </div>
</div>