@{
    ViewData["Title"] = "Performance Parts";
}

<img src="~/images/banner2.svg" alt="ASP.NET" class="img-responsive" />
<div class="row">
    <div class="col-md-5">
        <h2>Full Kit Turbo</h2>
        <ul>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Full_Kit_Turbo"><img src="~/images/maxresdefault.svg" alt="ASP.NET" class="img-responsive" /></a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <h2>Perfomance Parts</h2>
        <ul>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Performance_Parts_Page"><img src="~/images/Turbina.svg" alt="ASP.NET" class="img-responsive" /></a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <h2>Back for Nameless Store</h2>
        <li><a class="btn btn-warning" href="http://localhost:50157/Home">Back to Nameless Store</a></li>
    </div>
</div>

