@{
    ViewData["Title"] = "Sport Filter to Carburetor 2E/3E";
}

<div class="row body-content">
    <div class="col-md-10">
        <h2>Sport Filter to Carburetor 2E/3E</h2>
        <img src="~/images/filtro_de_ar_esportivo_carburador_2e_ou_3e_oval_respiro_de_oleo_race_chrome_352_1_20171026202042.svg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>

<h2>Performance Kit Specs</h2>
<div class="row body-content">
    <div class="col-md-4">
        <h2>Engine Type:</h2>
        <h2>Injection Type:</h2>
    </div>
    <div class="col-md-3">
        <h2>All</h2>
        <h2>Carburetor - 2E/3E</h2>
    </div>
    <div class="col-md-4">
        <h1>Price:</h1>
    </div>
    <div class="col-md-4">
        <h2>$140</h2>
        <li><a class="btn btn-success" href="http://localhost:50157/Carts/Create">Buy This Parts</a></li>
        <li><a class="btn btn-danger" href="http://localhost:50157/Home/Performance_Parts_Page">Back to Parts</a></li>
    </div>
</div>