@{
    ViewData["Title"] = "Whipple Mustang W140AX (2.3L) Supercharger";
}

<div class="row body-content">
    <div class="col-md-10">
        <h2>Whipple Mustang W140AX (2.3L) Supercharger</h2>
        <img src="~/images/thumbnail.svg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>

<h2>Performance Kit Specs</h2>
<div class="row body-content">
    <div class="col-md-4">
        <h2>Engine Type:</h2>
        <h2>Injection Type:</h2>
        <h2>Max. Power Supported:</h2>
        <h2>Max. Booster Pressure:</h2>
    </div>
    <div class="col-md-3">
        <h2>V8</h2>
        <h2>Eletronic Injection</h2>
        <h2>450 HP</h2>
        <h2>1.7 bar</h2>
    </div>
    <div class="col-md-4">
        <h1>Price:</h1>
    </div>
    <div class="col-md-4">
        <h2>$3600</h2>
        <li><a class="btn btn-success" href="http://localhost:50157/Home/Thanks_For_purchase_Kit">Buy This Parts</a></li>
        <li><a class="btn btn-danger" href="http://localhost:50157/Home/Performance_Parts_Page">Back to Parts</a></li>
    </div>
</div>