@{
    ViewData["Title"] = "Thanks for your purcharse";
}

<h2>@ViewData["Title"]</h2>

<h2>The product are added on your cart.</h2>


<h2>Click on this botton below to see another performance part.</h2>
<ul>
    <a class="btn btn-success" href="http://localhost:62862/Home/Performance_Parts"><img src="~/images/PerformanceParts.svg" alt="ASP.NET" class="img-responsive" /></a>
</ul>
<h2>Click here to back for main menu</h2>
<li><a class="btn btn-success" href="http://localhost:62862/Home">Back to Nameless Store</a></li>
