@{
    ViewData["Title"] = "Turbo Kit To JDM Engine";
}

<div class="row body-content">
    <div class="col-md-10">
        <h2>Turbo Kit To JDM Engine</h2>
        <img src="~/images/s-l1000.svg" alt="ASP.NET" class="img-responsive" />
    </div>
</div>

<h2>Performance Kit Specs</h2>
<div class="row body-content">
    <div class="col-md-4">
        <h2>Engine Type:</h2>
        <h2>Accompany turbine?</h2>
        <h2>Injection Type:</h2>
        <h2>Max. Power Supported:</h2>
        <h2>Details:</h2>
    </div>
    <div class="col-md-3">
        <h2>V6 24v DOHC</h2>
        <h2>Yes</h2>
        <h2>Eletronic Injection</h2>
        <h2>750 HP</h2>
        <h2>Scaled Collector</h2>
        <h2>Turbine with bushing</h2>
        <h2>Turbo Pressure Gauge</h2>
        <h2>Oversized Intercooler</h2>
    </div>
    <div class="col-md-4">
        <h1>Price:</h1>
    </div>
    <div class="col-md-4">
        <h2>$3600</h2>
        <li><a class="btn btn-success" href="http://localhost:62862/Home/Thanks_For_purchase_Kit">Buy This Kit</a></li>
        <li><a class="btn btn-danger" href="http://localhost:62862/Home/Full_Kit_Turbo">Back to kits</a></li>
    </div>
</div>