@{
    ViewData["Title"] = "Germany Cars";
}
<h2>@ViewData["Title"]</h2>

<div class="col-md-3">
    <h2>Volkswagen Cars</h2>
    <a class="btn btn-success" href="http://localhost:50157/Home/Volkswagen_cars"><img src="~/images/volkswagen-passenger-cars-vector-logo-small.svg" alt="ASP.NET" class="img-responsive" /></a>
    <h2></h2>
    <li><a class="btn btn-danger" href="http://localhost:50157/Home/Brands">Back to Brands</a></li>
</div>

<div class="row body-content">
    <div class="col-md-4">
        <h2>Old Models</h2>
        <ul>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Gol_1"><img src="~/images/WhatsApp Image 2019-01-21 at 17.34.42.svg" alt="ASP.NET" class="img-responsive" />Gol 1.6 Plus 1986</a></li>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Gol_GTS_92"><img src="~/images/52005939_1992545097713761_3079747423908659200_n.svg" alt="ASP.NET" class="img-responsive" />Gol 1.8 GTS 1991</a></li>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Passat_LSE"><img src="~/images/Vw_Passat_LSE.svg" alt="ASP.NET" class="img-responsive" />Passat 1.6 LSE 1986</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>New Models</h2>
        <ul>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Golf_GTI"><img src="~/images/WhatsApp Image 2019-01-21 at 17.34.42 (1).svg" alt="ASP.NET" class="img-responsive" />Golf 1.8 GTI MK4.5</a></li>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Jetta_TSI"><img src="~/images/287101010084771600x1060.svg" alt="ASP.NET" class="img-responsive" />Jetta 2.0 TSI</a></li>
            <li><a class="btn btn-success" href="http://localhost:50157/Home/Passat_VR6"><img src="~/images/VOLKSWAGENPassatVariant-2457_3.svg" alt="ASP.NET" class="img-responsive" />Passat Variant VR6</a></li>
        </ul>
    </div>
</div>