
@{
    ViewBag.Title = "Wheels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/images/Sporting_Wheels.png" alt="ASP.NET" class="img-responsive" />
<div class="col-md-4">
    <h2>BBS CH SS</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/BBS_CH"><img src="~/images/Rodas/BBS CH SS.png" alt="ASP.NET" class="img-responsive" /></a>
    <h2>BBS RS 15'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/BBS_RS"><img src="~/images/Rodas/RODA BBS RS RÉPLICA RAW ARO 15.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>CARBON BERLIN 15'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/CARBON_BERLIN"><img src="~/images/Rodas/RODA CARBON BERLIN ARO 15.jpg" alt="ASP.NET" class="img-responsive" /></a>
    <h2>CARBON CWB 18'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/CARBON_CWB"><img src="~/images/Rodas/RODA CARBON CWB  ARO 18.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>MANHATTAN 17'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/MANHATTAN"><img src="~/images/Rodas/RODA CARBON MANHATTAN ARO 17.jpg" alt="ASP.NET" class="img-responsive" /></a>
    <h2>ENKEI PDC 17'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/ENKEI_PDC"><img src="~/images/Rodas/RODA ENKEI PDC ORIGINAL ARO 17.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>ENKEI RPF1 ZEUS 15'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/ENKEI_RPF1_ZEUS"><img src="~/images/Rodas/RODA ENKEI RPF1 RÉPLICA ZEUS ARO 15.jpg" alt="ASP.NET" class="img-responsive" /></a>
    <h2>KR K66 15'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/KR_K66"><img src="~/images/Rodas/RODA KR K66 ESPORTIVA ARO 15.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>RACING MAGNUM 15'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/RACING_MAGNUM"><img src="~/images/Rodas/RODA RACING MAGNUM RÉPLICA RAW ARO 15.jpg" alt="ASP.NET" class="img-responsive" /></a>
    <h2>RACING PRO STAR 15'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/RACING_PRO_STAR"><img src="~/images/Rodas/RODA RACING PRO STAR RÉPLICA RAW ARO 15.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>ROTIFORM CCV 19'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/ROTIFORM_CCV"><img src="~/images/Rodas/RODA ROTIFORM CCV ORIGINAL ARO 19.jpg" alt="ASP.NET" class="img-responsive" /></a>
    <h2>TE37 K57 17'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/TE37_K57"><img src="~/images/Rodas/RODA TE37 K57 RÉPLICA KR ARO 17.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>TSW NURBURGRING15'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/TSW_NURBURGRING"><img src="~/images/Rodas/RODA TSW NURBURGRING ARO 15.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>Rotiform LAS R 17'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/ROTIFORM_LAS_R"><img src="~/images/Rodas/Rotiform LAS R.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<div class="col-md-4">
    <h2>TURBOMAC 17'</h2>
    <a class="btn btn-success" href="http://localhost:50157/Wheels/TURBOMAC"><img src="~/images/Rodas/RODA TURBOMAC RODERA ARO 17.jpg" alt="ASP.NET" class="img-responsive" /></a>
</div>
<img src="~/images/Sporting_Wheels.png" alt="ASP.NET" class="img-responsive" />

