@model IEnumerable<Nameless_Store_2019.Cart>

@{
    ViewBag.Title = "My Cart";
}

<img src="~/images/My_cart.svg" alt="ASP.NET" class="img-responsive" />
<img src="~/images/Product_Price.svg" alt="ASP.NET" class="img-responsive" />

<h3>
    <table class="table col-lg-10">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.ActionLink("Product Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Remove From Cart", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</h3>


<a class="btn btn-warning" href="http://localhost:50157/Home">Back to Nameless Store</a>
<a class="btn btn-success" href="http://localhost:50157/Email/Send_Email">Checkout</a>


